{% extends 'base.html.twig' %}

{% block title %}Details film{% endblock %}

{% block body %}

    <div class="mt-3 ml-3">
        <a href="{{ path('app_film') }}" class="btn btn-primary">Retour</a>
    </div>

    {% for detailsFilm in film %}
        <div class="details text-center">
            <h1 class="text-center my-4">{{ detailsFilm.titre }}</h1>

            <p><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
                </svg> : {{ detailsFilm.duree }}</p>


            <h2>Prochaine séance(s)</h2>
            {% for seance in detailsFilm.seances %}
                <div class="seance mt-4">
                    <p><b>Le</b> {{ seance.dateProjection }} </p>
                    <p><b>Tarif</b> : {{ seance.tarifNormal }} €</p>

                    {# Que si connecter #}
                    <a href="" class="btn btn-primary">Reserver</a>
                </div>
            {% endfor %}

        </div>
    {% endfor %}

{% endblock %}
