{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Inscription</h1>


    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
{#    {% if erreur != "" %}#}
{#        <p>{{ erreur }}</p>#}
{#    {% endif %}#}
    <button type="submit">S'inscrire</button>
    {{ form_end(form) }}


{#    <form class="w-75 mx-auto" style="max-width: 400px" method="post" action="{{ path('app_inscription') }}">#}
{#        <label for="email" class="">Email</label>#}
{#        <input type="email" class="form-control mt-1 mb-3" id="email" name="email">#}


{#        <label for="password" class="">Password</label>#}
{#        <input type="password" class="form-control mt-1 mb-3" id="password" name="password">#}

{#        {% if erreur.erreur is defined %}#}
{#            <p class="text-danger">{{ erreur.erreur }}</p>#}
{#        {% endif %}#}


{#        <div class="d-flex justify-content-center">#}
{#                <button type="submit" class="btn btn-primary" >Sign in</button>#}
{#            </a>#}
{#        </div>#}
{#    </form>#}
{% endblock %}